<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Seed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="css/bootstrap-fontawesome.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="ngSeed">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container" ng-controller="mainCtrl">
            <h1 class='hero'>AngularJS &amp; D3</h1>

            <svg width="1000" height="500">
            </svg>


            <button ng-click="addCircle()">Add Circle</button>
            <button ng-click="removeCircle()">Remove Circle</button>
        </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"  charset="utf-8"></script>

        <script src="js/app.js"></script>

        <script>

            

            
        </script>
    </body>
</html>